@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1699345741592') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiao:before {
  content: "\e63b";
}

.icon-pinglun:before {
  content: "\e63c";
}

.icon-shijian:before {
  content: "\e63d";
}

